.category {
  background-color: $basic-grey;
  padding: 20px;
}

.category__title {
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  color: $black;
  margin-bottom: 22px;
}

.category__description {
  font: 400 14px/18px "Arial", sans-serif;
  color: $special-dark-grey;
  padding-bottom: 23px;
  border-bottom: 1px solid $grey-2;
}

.category__link {
  color: $black;
  text-decoration: none;
  text-transform: uppercase;
  font: 400 16px/1 $font-family;

  &:active {
    opacity: 0.3;
  }
}
