.categories__wrapper {
  width: $mobile-container;
  padding: 0 20px 0;
  margin: 0 auto;
}

.categories__item {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: $tablet-width) {
  .categories__wrapper {
    width: $tablet-container;
  }
}

@media (min-width: $desktop-width) {
  .categories__wrapper {
    width: $desktop-container;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }

  .categories__item {
    width: 570px;
    margin-bottom: 0;
  }
}
