.copyright {
  font: 16px/18px "Arial", sans-serif;
  color: $special-dark-grey;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  white-space: nowrap;
}
