.main-nav__list {
  margin: 0;
  padding: 0;
  font-weight: 400;
  list-style: none;
}

.main-nav__item {
  text-transform: uppercase;
}

.main-nav__item a {
  text-decoration: none;
  color: $black;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__item--active a {
  border-bottom: 2px solid $basic-green;
}

@media (min-width: $tablet-width) {
  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    display: flex;
  }

  .main-nav__item {
    padding-left: 33px;

    &:first-child {
      padding-left: 0;
    }
  }
}
