.main__intro {
  width: 320px;
  margin: 0 auto 20px;
}

.main__advantages {
  margin-bottom: 50px;
}

.main__categories {
  margin-bottom: 20px;
}

.main__title {
  padding: 27px 20px 40px;
  line-height: 1;
}

.main__form {
  margin-bottom: 35px;
}

@media (min-width: $tablet-width) {
  .main__intro {
    width: $tablet-container;
  }
}

@media (min-width: $desktop-width) {
  .main__intro {
    width: $desktop-container;
  }
}
