.main__intro {
  margin-bottom: 20px;
}

.main__advantages {
  margin-bottom: 50px;
}

.main__categories {
  margin-bottom: 20px;
}

.main__title {
  padding: 27px 20px 40px;
  line-height: 1;
}

.main__form {
  margin-bottom: 35px;
}
