.page-footer {
  background-color: $basic-grey;
}

.page-footer__wrapper {
  width: $mobile-container;
  padding: 20px;
  margin: 0 auto;
}

.page-footer__socials {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-content: center;
  justify-content: center;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.page-footer__logo {
  margin: 10px auto 30px;
  display: block;
  width: 128px;

  img {
    display: block;
  }
}

.page-footer__copyright {
  padding-top: 20px;
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    width: $tablet-container;
    padding: 60px 0;
    display: flex;
    align-items: center;
  }

  .page-footer__logo {
    margin: 0;
  }

  .page-footer__socials {
    border: none;
    padding: 0;
  }

  .page-footer__copyright {
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    width: $desktop-container;
    padding: 60px 0;
  }
}
