.promo {
  width: 280px;
  min-height: 290px;
  background: $basic-green url("../img/promo-bg.jpg") no-repeat center;
  background-size: cover;
  text-align: center;
}

.promo__icon {
  margin-top: 59px;
  margin-bottom: 48px;
}

.promo__text {
  margin: 0;
  font: 400 16px/20px "Arial", sans-serif;
  color: #ffffff;
}
