@import "variables";
@import "normalize";
@import "fonts";
@import "global";
// Blocks
@import "blocks/additional-product";
@import "blocks/additional-products";
@import "blocks/advantages";
@import "blocks/button";
@import "blocks/catalog";
@import "blocks/categories";
@import "blocks/category";
@import "blocks/comparison";
@import "blocks/contacts";
@import "blocks/copyright";
@import "blocks/example";
@import "blocks/example-info";
@import "blocks/field-checkbox";
@import "blocks/field-radio";
@import "blocks/field-text";
@import "blocks/form";
@import "blocks/main";
@import "blocks/main-nav";
@import "blocks/more-products";
@import "blocks/page";
@import "blocks/page-footer";
@import "blocks/page-header";
@import "blocks/page-intro";
@import "blocks/product";
@import "blocks/promo";
@import "blocks/secondary-title";
@import "blocks/social-link";
@import "blocks/social-links";
@import "blocks/title";
@import "blocks/visually-hidden";
