// Цвета
$special-dark-grey: #444444;
$special-dark-grey-2: #222222;
$special-dark-grey-3: #111111;
$background-color: #eaeaea;
$basic-grey: #f2f2f2;
$grey-1: #dcdcdc;
$grey-2: #d9d9d9;
$grey-3: #e6e6e6;
$grey-4: #e7e7e7;
$grey-5: #bababa;
$special-grey: #cdcdcd;
$special-grey-2: #666666;
$special-grey-3: #ebebeb;
$black: #000000;

$basic-green: #68b738;
$basic-green-2: #5eaa2f;
$status-error: #ff8282;


$font-family: "Oswald", "Arial", sans-serif;

$tablet-width:              768px;
$desktop-width:             1440px;

$mobile-container:          320px;
$tablet-container:          708px;
$desktop-container:         1220px;
